<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer form</title>
</head>
<body>
    <h3>Customer registration form</h3>
    <form th:action="@{/processCustomerForm}"
          th:object="${customer}"
          method="post">
        <label>First name:</label>
        <input type="text" th:field="*{firstName}">
        <br>
        <label>Surname:</label>
        <input type="text" th:field="*{surname}">
        <br>
        <label>Free passes:</label>
        <input type="text" th:field="*{freePasses}">
        <br>
        <label>Zip code:</label>
        <input type="text" th:field="*{zipCode}">
        <br>
        <label>Course code:</label>
        <input type="text" th:field="*{courseCode}">
        <br>
            <span th:if="${#fields.hasErrors('surname')}"
                  th:errors="*{surname}"
                  style="color:red"
            />
        <br>
        <span th:if="${#fields.hasErrors('freePasses')}"
              th:errors="*{freePasses}"
              style="color:red"
        />
        <br>
        <br>
        <span th:if="${#fields.hasErrors('zipCode')}"
              th:errors="*{zipCode}"
              style="color:red"
        />
        <br>
        <br>
        <span th:if="${#fields.hasErrors('courseCode')}"
              th:errors="*{courseCode}"
              style="color:red"
        />
        <br>
        <input type="submit" value="SEND">
    </form>
</body>
</html>